.main-container {
  background-color: #A9C437;
  height: 100vh;
  padding-top: 10px;
}

img {
  border-radius: 20px;
}

.main-nav {
  border-radius: 20px;
  border-style: solid;
}

.socialmedia {
  display: flex;
  justify-content: flex-end;
}

button {
  background-color: transparent;
  border: transparent;
}

#fb_button {
  width: 60px;
}

#papierowy_motyl_button {
  width: 45px;
}

#oswdn_button {
  width: 55px;
}
.socialmediamenu{
  position: absolute;
  right: 0px;
  z-index: 100;
}

.carousel-item {
  text-align: center;
}

.carousel-item img {
  margin: 0 auto;
}

.rozmiarokladki {
  height: 600px;
}

.okladka {
  height: 600px;
}

.okladka img {
  height: 100%;
  width: 415px;
}
.title-section {
  color: #010101;
}
