.main-container {
  background-color: #A9C437;

  padding-top: 10px;
}

img {
  border-radius: 20px;
}

.nav-footer{
  background-color: #D2D73C;
  border-radius: 20px;
  border-style: solid;
}



.social-media-footer {
  display: inline;
  justify-content: flex-end;
}

button {
  background-color: transparent;
  border: transparent;
}

#fb_button {
  width: 60px;
}

#papierowy_motyl_button {
  width: 45px;
}

#oswdn_button {
  width: 55px;
}

.social-media-menu {
  position: absolute;
  right: 15px;
  z-index: 100;
}

.social-media-menu-footer {
  position: absolute;
  right: 50px;
  z-index: 100;
  bottom: 70px;
}

.carousel-item {
  text-align: center;
}

.carousel-item img {
  margin: 0 auto;
}

.rozmiarokladki {
  height: 600px;
}

.okladka {
  height: 600px;
}

.okladka img {
  height: 100%;
  width: 415px;
}

.title-section {
  color: #010101;
  font-size: 20px;
  font-weight: bold;

}

.title-section-disabled{
  color: #212529;
  font-size: 20px;
  font-weight: bold;
}

.menu-chapter{
  border-radius: 20px;
}

.menu-chapter:hover{
  font-size: 20px;
  border: solid #010101;
  border-radius: 20px;
  background-color: #A9C437;
  opacity: 0.9;
  box-shadow: 0 9px #999;
  transition-delay:0.1s;

}

.menu-chapter:active{
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  border-radius: 20px;
}

.signature{
  z-index: 400px; 
  transition: 1s;
}
.signature:hover{
  transform: rotateY(180deg);
  transition: 1s;
}

.signature:active{
  /* transform: translateY(4px);
  transform: translateX(4px); */
  transform: rotateX(180deg);
  transition: 1s;
}


/* .front {
  background-color: red;
  z-index: 400px;
}

.back {
  background-color: blue;
  transform: rotateY(180deg);
}



div id="card">


            <div class="face front">
                FRONT
            </div>
            <div class="face back">
                END
            </div>
        </div> */