.main-container {
  background-color: #A9C437;
  padding-top: 10px;
  min-height: 100vh;
  ;
}

img {
  border-radius: 20px;
}

.nav-footer {
  background-color: #D2D73C;
  border-radius: 20px;
  border-style: solid;
}

.dropdown-background {
  background-color: #D2D73C;
  border-radius: 20px;
}

.dropdown-chapter {
  color: #010101;
}

.dropdown-chapter:hover {
  background-color: #D2D73C;
}

.dropdown-chapter:active {
  border: solid #010101;
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  border-radius: 10px;
}

.social-media-footer {
  display: inline;
  justify-content: flex-end;
}

button {
  background-color: transparent;
  border: transparent;
}

#fb_button {
  width: 60px;
}

#fb_button:hover {
  border: solid #010101;
  border-radius: 20px;
  background-color: #A9C437;
  opacity: 0.9;
  box-shadow: 0 9px #999;
  transition-delay: 0.1s;
}

#fb_button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  border-radius: 20px;
}

#oswdn_button {
  width: 55px;
}

#oswdn_button:hover {
  border: solid #010101;
  border-radius: 20px;
  background-color: #A9C437;
  opacity: 0.9;
  box-shadow: 0 9px #999;
  transition-delay: 0.1s;
}

#oswdn_button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  border-radius: 20px;
}

#papierowy_motyl_button {
  width: 45px;
}

#papierowy_motyl_button:hover {
  border: solid #010101;
  border-radius: 20px;
  background-color: #A9C437;
  opacity: 0.9;
  box-shadow: 0 9px #999;
  transition-delay: 0.1s;
}

#papierowy_motyl_button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  border-radius: 20px;
}

#tecza_button {
  width: 55px;
}

#tecza_button:hover {
  border: solid #010101;
  border-radius: 20px;
  background-color: #A9C437;
  opacity: 0.9;
  box-shadow: 0 9px #999;
  transition-delay: 0.1s;
}

#tecza_button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  border-radius: 20px;
}

.social-media-menu {
  position: absolute;
  right: 15px;
  z-index: 100;
}

.carousel-item {
  text-align: center;
}

.carousel-item img {
  margin: 0 auto;
}

.rozmiarokladki {
  height: 600px;
}

.okladka {
  height: 600px;
}

.okladka img {
  height: 100%;
  width: 415px;
}

.title-section {
  color: #010101;
  font-size: 20px;
  font-weight: bold;
}

.title-section-disabled {
  color: #212529;
  font-size: 20px;
  font-weight: bold;
}

.menu-chapter {
  border-radius: 20px;
}

.menu-chapter:hover {
  font-size: 20px;
  border: solid #010101;
  border-radius: 20px;
  background-color: #A9C437;
  opacity: 0.9;
  box-shadow: 0 9px #999;
  transition-delay: 0.1s;
}

.menu-chapter:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  border-radius: 20px;
}

.signature {
  z-index: 400px;
  transition: 1s;
}

.signature:hover {
  transform: rotateY(180deg);
  transition: 1s;
}

.signature:active {
  /* transform: translateY(4px);
  transform: translateX(4px); */
  transform: rotateX(180deg);
  transition: 1s;
}

.news {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 15%;
  margin-right: 15%;
  border-style: hidden;
  border-radius: 20px;
  padding: 20px;
  background-color: #D2D73C
}

h1 {
  font-size: 36px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #010101;
}

.textdata {
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #585f66;
}

.textnews {
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: justify;

  /* height: 560px; */
}

pre {
  font-family: sans-serif;
}

.relative-parent {
  position: relative;
  min-height: 99vh;
}


.news-about {
  margin-top: 100px;
  margin-bottom: 50px;
 /* margin-left: 5%;
  margin-right: 5%; */
  border-style: hidden;
  border-radius: 20px;
  padding: 20px;
  background-color: #D2D73C;
  height: 600px;
  position: relative;
}

#bigger{
    max-width: 100%;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300);
 * {
	 margin: 0;
	 padding: 0;
	 outline: none;
	 list-style: none;
	 text-decoration: none;
	 box-sizing: border-box;
	 color: #000;
	 background: transparent;
	 border: none;
}
html, body {
  height: 100%;
  width: 100%;
}
 body {
	 background: #A9C437;
	 font-family: "Roboto", sans-serif;
}
 .wrap {
	 height: 100%;
	 max-width: 1280px;
	 margin: 0 auto;
	 text-align: center;
	 position: relative;
   z-index: 5;
   
}
 .wrap .perspective {
	 width: 100%;
	 height: 100%;
	 perspective: 1000px;
	 transform-style: preserve-3d;
	 overflow: hidden;
}
 .book-wrap {
	 height: 100%;
	 width: 100%;
	 transform-style: preserve-3d;
	 transition: all ease-out 0.6s;
	 -webkit-transition: all ease-out 0.6s;
	 -moz-transition: all ease-out 0.6s;
	 -ms-transition: all ease-out 0.6s;
	 -o-transition: all ease-out 0.6s;
   padding-top: 80px;
   padding-bottom: 80px;
}
 .book {
  padding: 100px;
	 width: 400px;
	 height: 600px;
	 background: url(./../pictures/papierowyMotylButton.svg) no-repeat center center;
	 background-size: cover;
	 position: relative;
	 top: 0;
	 left: 0;
	 right: 0;
	 bottom: 0;
	 margin: auto;
	 cursor: pointer;
}
 .title {
	 content: "";
	 height: 600px;
	 width: 30px;
	 position: absolute;
	 right: 0;
	 left: -401px;
	 top: 0;
	 bottom: 0;
	 margin: auto;
	 background: #ab4747;
	 transform: rotateY(-80deg) translateX(-14px);
}
 .book-back {
	 width: 400px;
	 height: 600px;
	 background-color: #d06255;
	 position: absolute;
	 top: 0;
	 left: 0;
	 right: 0;
	 bottom: 0;
	 margin: auto;
	 cursor: pointer;
	 transform: rotate(180deg) translateZ(-30px) translateX(5px);
}
 .book-back .text {
	 transform: rotateX(180deg);
	 position: absolute;
	 bottom: 30px;
	 padding: 20px;
	 text-align: left;
}
 .book-back .text h3 {
	 margin-bottom: 20px;
	 color: #fff;
}
 .book-back .text span {
	 display: block;
	 margin-bottom: 20px;
	 color: #fff;
}
 .book-back .text span:last-of-type {
	 margin-top: 30px;
}
 .rotate {
	 transform: rotateY(20deg);
}
 .flip {
	 transform: rotateY(180deg);
}
  .book3d{
    height: 100%;
    padding-top: 30px;
    padding-bottom: 50px;
  }
.book-dbs {
    padding: 100px;
     width: 400px;
     height: 600px;
     background: url(./../pictures/dwaBrakujaceSlowaOkladka.png) no-repeat center center;
     background-size: cover;
     position: relative;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     margin: auto;
     cursor: pointer;
  }
.book-back-dbs {
  width: 400px;
  height: 600px;
  background: url(./../pictures/dwaBrakujaceSlowaOkladkaTyl.jpg) no-repeat center center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
  transform: rotate(180deg) translateZ(-30px) translateX(5px);
}
.title-dbs {
  content: "";
  height: 600px;
  width: 30px;
  position: absolute;
  right: 0;
  left: -401px;
  top: 0;
  bottom: 0;
  margin: auto;
  background: url(./../pictures/dwaBrakujaceSlowaOkladkaTitle.jpg) no-repeat center center;
  background-size: cover;
  transform: rotateY(-80deg) translateX(-14px);
}
.book-odwet {
  padding: 100px;
   width: 400px;
   height: 600px;
   background: url(./../pictures/odwetOkladka.jpg) no-repeat center center;
   background-size: cover;
   position: relative;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   margin: auto;
   cursor: pointer;
}
.book-back-odwet {
  width: 400px;
  height: 600px;
  background: url(./../pictures/odwetOkladkaTyl.jpg) no-repeat center center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
  transform: rotate(180deg) translateZ(-30px) translateX(5px);
}
.title-odwet {
  content: "";
  height: 600px;
  width: 30px;
  position: absolute;
  right: 0;
  left: -401px;
  top: 0;
  bottom: 0;
  margin: auto;
  background: url(./../pictures/odwetOkladkaTitle.jpg) no-repeat center center;
  background-size: cover;
  transform: rotateY(-80deg) translateX(-14px);
}
.book-zs {
  padding: 100px;
   width: 400px;
   height: 600px;
   background: url(./../pictures/zieloneSlonceOkladka.jpg) no-repeat center center;
   background-size: cover;
   position: relative;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   margin: auto;
   cursor: pointer;
}
.book-back-zs {
  width: 400px;
  height: 600px;
  background: url(./../pictures/zieloneSlonceOkladkaTyl.jpg) no-repeat center center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
  transform: rotate(180deg) translateZ(-30px) translateX(5px);
}
.title-zs {
  content: "";
  height: 600px;
  width: 30px;
  position: absolute;
  right: 0;
  left: -401px;
  top: 0;
  bottom: 0;
  margin: auto;
  background: url(./../pictures/zieloneSlonceOkladkaTitle.jpg) no-repeat center center;
  background-size: cover;
  transform: rotateY(-80deg) translateX(-14px);
}
.book-table{
  margin-bottom: -120px;
}

.social-media-books {
  display: inline;
  justify-content: flex-end;
}

.papierowy_motyl_button_books {
  width: 45px;
}

.papierowy_motyl_button_books:hover {
  border: solid #010101;
  border-radius: 20px;
  background-color: #A9C437;
  opacity: 0.9;
  box-shadow: 0 9px #999;
  transition-delay: 0.1s;
}

.papierowy_motyl_button_books:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  border-radius: 20px;
}

.motyle_ksiazkowe_button_books {
  width: 90px;
}

.motyle_ksiazkowe_button_books:hover {
  border: solid #010101;
  border-radius: 20px;
  background-color: #A9C437;
  opacity: 0.9;
  box-shadow: 0 9px #999;
  transition-delay: 0.1s;
}

.motyle_ksiazkowe_button_books:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  border-radius: 20px;
}
.empik_button_books {
  width: 80px;
}

.empik_button_books:hover {
  border: solid #010101;
  border-radius: 20px;
  background-color: #A9C437;
  opacity: 0.9;
  box-shadow: 0 9px #999;
  transition-delay: 0.1s;
}

.empik_button_books:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  border-radius: 20px;
}
.books-footer{
  position: absolute;
  left: 20px;
  bottom: 20px;
}
#more{
  display:none
}

.read-more-button {
  padding: 5px;
}

.read-more-button:hover {
  border: solid #010101;
  border-radius: 10px;
  background-color: #A9C437;
  opacity: 0.9;
  box-shadow: 0 9px #999;
  transition-delay: 0.1s;
}

.read-more-button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  border-radius: 10px;